<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">Tweepsmanager<img src="<%= image_path('hawk.png') %>" style="width:20px;padding:0;margin:0;" ></img></a>

			<% if current_user %>
				<ul class="nav">
					<li class="<%= request.fullpath.starts_with?("/twitter/followers")  ? "active" : "" %>"><%= link_to "Followers", controller: "twitter", action: "followers" %></li>
				</ul>
			<% end %>

			<ul class="nav pull-right">

				<% if current_user %>
					<li class="dropdown" id="menu">

					<a class="dropdown-toggle" data-toggle="dropdown" href="#menu">
					<img class="img-icon" src="<%= current_user.image_url %>"></img>
					<%= current_user.name %><b class="caret"></b>
				</a>

					<ul class="dropdown-menu">
						<li> <a href="/signout/">Sign out</a> </li>
					</ul>

					</li>
				<% else %>

					<li>
					<a href="/auth/twitter/">Sign in</a>
					</li>
				<% end %>

			</ul>

		</div>
	</div>
</div>
