<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="brand" href="/">Tweepsmanager<img src="<%= image_path('hawk.png') %>" id="header-image"></img></a>
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</a>

				<div class="nav-collapse">
				<% if current_user %>
					<ul class="nav">
						<li class="<%= request.fullpath.starts_with?("/followers")  ? "active" : "" %>"><%= link_to "Followers", controller: "twitter", action: "followers" %></li>
						<li class="<%= request.fullpath.starts_with?("/following")  ? "active" : "" %>"><%= link_to "Following", controller: "twitter", action: "following" %></li>
						<li class="<%= request.fullpath.starts_with?("/not_following_back")  ? "active" : "" %>"><%= link_to "Not following back", controller: "twitter", action: "not_following_back" %></li>
					</ul>
				<% end %>

				<ul class="nav pull-right">
					<li><a href="http://satsuncoding.tumblr.com">Blog</a></li>
					<li class="<%= request.fullpath.starts_with?("/about")  ? "active" : "" %>"><%= link_to "About", controller: "home", action: "about" %></li>

					<% if current_user %>
						<li class="dropdown" id="menu">

						<a class="dropdown-toggle" data-toggle="dropdown" href="#menu">
							<img class="img-icon" src="<%= current_user.image_url %>"></img>
							<%= current_user.name %><b class="caret"></b>
						</a>

						<ul class="dropdown-menu">
							<li> <a href="/signout/">Sign out</a> </li>
						</ul>

						</li>
					<% else %>

						<li>
						<a href="/auth/twitter/">Sign in</a>
						</li>
					<% end %>
				</div>

			</ul>

		</div>
	</div>
</div>
