$("#main").html("<%=j render partial: "page" %>");
$("#main").prepend("<%=j render partial: "shared/flash", :locals => { flash: flash } %>");
$("#users").append("<%=j render :partial => "user", collection: @users %>");

if(<%= params[:page] %> > 0) {
  $("div .pagination ul").append('<li id="previous"><a href="#">Prev</a></li>');
}

for (i = 0;i<<%= @pages %>;i++) { $("div .pagination ul").append('<li id="page"><a href="#">' + i + '</a></li>'); }

if(<%= @pages %> > <%= params[:page].to_i %>) {
  $("div .pagination ul").append('<li id="next"><a href="#">Next</a></li>');
}

$("#next").click( function () { 
  $("#user-table").html('<div class="hero-unit"> <h1 id="loading">Loading users...</h1> </div>');

  loadUsers("<%= request.path.strip %>", "<%= params[:user] %>", "<%= params[:page].to_i + 1 %>");
  $('input[type=button]').attr('disabled', true);
});

$("#previous").click( function () { 
  $("#user-table").html('<div class="hero-unit"> <h1 id="loading">Loading users...</h1> </div>');

  loadUsers("<%= request.path.strip %>", "<%= params[:user] %>", "<%= params[:page].to_i - 1 %>");
  $('input[type=button]').attr('disabled', true);
});
