$("#main").html("<%=j render partial: "page" %>");

<% @users.in_groups_of(3, false).each do |users| %>
  $("#main").append('<div class="row"> <%=j render partial: "user", collection: users %></div><br />');
<% end %>

var paginator = new Paginator($(".pagination ul"), <%= params[:page].to_i %>, <%= @pages %>);
paginator.addPagination();
bindClickEvents($(".container"), "<%= request.path.strip %>", "<%= params[:user] %>");
