<tr id="<%= user.screen_name %>" >
	<td>
		<a href="#" rel="popover" title="Last tweet" data-content="<%= user.status.text || "No last tweet" %>">
			<img id="img-profile" src="<%= user.profile_image_url %>" ></img>
		</a>
	</td>

	<td>
		<a href="http://www.twitter.com/<%= user.screen_name %>" ><%= user.screen_name %></a>
		<br />
		(<%= user.name %>)
		<br />
		<% if user.verified? %>
			<span class="label notice">verified</span>
		<% end %>
	</td>

	<td> <%= user.description %> </td>

	<td id="<%= "button-" + user.screen_name %>">
		<% if user.following %>
			<%= render partial: "unfollow_button", object: user, as: :user %>
		<% else %>
			<%= render partial: "follow_button", object: user, as: :user %>
		<% end %>
	</td>
</tr>
