<tr id="<%= user.screen_name %>" >
	<td>
		<a href="#" rel="popover" title="Last tweet" data-content="<%= user.status.text || "No last tweet" %>">
			<img id="img-profile" src="<%= user.profile_image_url %>" ></img>
		</a>
	</td>

	<td>
    <!-- #TODO this might now be a good idea? -->
		<a href="<%= root_url %><%= request.path.gsub("/","") %>/<%= user.screen_name %>"><%= user.screen_name %></a>
		<br />
		(<%= user.name %>)
		<br />
		<% if user.verified? %>
			<span class="label notice">verified</span>
		<% end %>
	</td>

	<td> <%= user.description %> </td>
  <td><%= user.statuses_count  %></td>
  <td><%= user.followers_count %></td>
  <td><%= user.friends_count %></td>
  <td><%= time_ago_in_words(user.status.created_at) %> ago</td>

	<td id="<%= "button-" + user.screen_name %>">
		<% if user.following %>
			<%= render partial: "unfollow_button", object: user, as: :user %>
		<% else %>
			<%= render partial: "follow_button", object: user, as: :user %>
		<% end %>
	</td>
</tr>
