<h1>Not following you</h1>
<% @not_following_user.each_with_index do |user, index| %>
  <%= index %>
  .
  <%= user.name %>
  <br />
<% end -%>

<h1>Stalkers</h1>

<% @stalkers.each_with_index do |user, index| %>
  <%= index %>
  .
  <%= user.name %>
  <br />
<% end -%>

<%= @api_calls_left %> api calls left this hour
