<div class="hero-unit">
	<h2>Settings</h2>
	<div class="span16">
		<p>Listing "all" properties for now...</p>
		<ul>
		<li><%= @user.lang %></li>
		<li><%= @user.profile_background_image_url %></li>
		<li><%= @user.protected %></li>
		<li><%= @user.time_zone %></li>
		<li><%= @user.created_at %></li>
		<li><%= @user.profile_link_color %></li>
		<li><%= @user.name %></li>
		<li><%= @user.listed_count %></li>
		<li><%= @user.contributors_enabled %></li>
		<li><%= @user.followers_count %></li>
		<li><%= @user.profile_image_url %></li>
		<li><%= @user.utc_offset %></li>
		<li><%= @user.profile_background_color %></li>
		<li><%= @user.description %></li>
		<li><%= @user.statuses_count %></li>
		<li><%= @user.profile_background_tile %></li>
		<li><%= @user.following %></li>
		<li><%= @user.verified %></li>
		<li><%= @user.profile_sidebar_fill_color %></li>
		<li><%= @user.status %></li>
		<li><%= @user.default_profile_image %></li>
		<li><%= @user.friends_count %></li>
		<li><%= @user.location %></li>
		<li><%= @user.screen_name %></li>
		<li><%= @user.default_profile %></li>
		<li><%= @user.profile_background_image_url_https %></li>
		<li><%= @user.profile_sidebar_border_color %></li>
		<li><%= @user.is_translator %></li>
		<li><%= @user.geo_enabled %></li>
		<li><%= @user.url %></li>
		<li><%= @user.profile_use_background_image %></li>
		<li><%= @user.favourites_count %></li>
		<li><%= @user.id %></li>
		<li><%= @user.notifications %></li>
		<li><%= @user.profile_text_color %></li>
		</ul>
	</div>
</div>