<!DOCTYPE html>
<html>
	<head>
		<title>Tweepsmanager</title>
		<%= javascript_include_tag "application" %>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<link rel="shortcut icon" href="<%= image_path('hawk.png') %>" type="image/x-icon"></link>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<%= render :partial => "shared/navigation" %>
		<div class="container">

			<%= render :partial => "shared/flash", :locals => { flash: flash } %>
			<% if current_user %>
				<%= yield %>
			<% else %>
				<%= render :partial => "shared/start" %>
			<% end -%>
		</div>
		
		<div class="container">
		<footer class="footer">
			<p>Copyright &copy; Tweepsmanager 2012 - <%= Time.new.year %></p>
		</footer>
		</div>
	</body>
</html>
