<!DOCTYPE html>
<html>
	<head>
		<title>Tweepsmanager</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<!-- Use the snippet below to work around bootstrap/responsive weirdness -->
		<style type="text/css">
			body {
				padding-top: 60px;
				padding-bottom: 40px;
			}
		</style>

		<%= javascript_include_tag "application" %>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<link rel="shortcut icon" href="<%= image_path('hawk.png') %>" type="image/x-icon"></link>
		 <%= csrf_meta_tags %>
	 </head>
	 <body>

		 <%= render :partial => "shared/navigation" %>

		 <div class="container" id="main">

			 <%= render partial: "shared/flash", :locals => { flash: flash } %>
			 <%= yield %>
		 </div>

		 <div class="container">
			 <footer class="footer">
			 <% if current_user %>
				 <span id="api_status">API Limit	Loading...</span>
			 <% end %>
			 <p>Copyright &copy; Tweepsmanager <%= Time.new.year %></p>
			 </footer>
		 </div>
	 </body>
 </html>
