<!DOCTYPE html>
<html>
	<head>
		<title>Tweepsmanager</title>
		<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<link rel="shortcut icon" href="<%= image_path('hawk.png') %>" type="image/x-icon"></link>
		<%= csrf_meta_tags %>
	</head>
	<body>

		<% if current_user %>
			<%= render :partial => "shared/navigation" %>
			<%= render :partial => "shared/tweetdialog" %>
		<% else %>
			<%= render :partial => "shared/blank_navigation" %>
		<% end -%>

		<div class="container">

			<%= render :partial => "shared/flash", :locals => { flash: flash } %>
			<% if current_user %>
				<%= yield %>
			<% else %>
				<%= render :partial => "shared/start" %>
			<% end -%>
		</div>

		<footer class="footer">
		<div class="container">
			<p>Copyright &copy; Patrik Björklund &amp; Erik Skoglund 2012 - <%= Time.new.year %></p>
		</div>
		</footer>
	</body>
</html>
