<!DOCTYPE html>
<html>
	<head>
		<title>Tweepsmanager</title>
		<%= stylesheet_link_tag    "bootstrap", :media => "all" %>
		<%= javascript_include_tag "less-1.1.4.min" %>
		<%= javascript_include_tag "application" %>
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<link rel="shortcut icon" href="<%= image_path('hawk.png') %>" type="image/x-icon"></link>

		<%= csrf_meta_tags %>
	</head>
	<body>

		<div class="container">
			<% if flash[:notice] %>
				<div class="alert-message default"><%= flash[:notice] %></div>
			<% end %>
			<% if flash[:success] %>
				<div class="alert-message success"><%= flash[:success] %></div>
			<% end %>
			<% if flash[:error] %>
				<div class="alert-message error"><%= flash[:error] %></div>
			<% end %>


			<%= yield %>

		</div>

		<div class="container">

			<div id="footer" class="span16 footer">
				<p>Copyright &copy; Patrik Björklund &amp; Erik Skoglund 2012 - <%= Time.new.year %></p>
			</div>
		</div>

	</body>
</html>
